*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

form {
    max-width: 300px;
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: #fff;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #333;
}

textarea {
    height: 80px;
}

button {
    margin-top: 15px;
    background-color: #1B3743;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #245c6b;
}
