*{margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
form{
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid rgba(255, 255, 255, 0.616);
    border-radius: 10px;
}

input,textarea,button
{
    border: 1px solid;
   padding: 10px 10px;
   margin: 3px 3px;
   border-radius: 10px;
}

.contact-form button:hover{
    cursor: pointer;
    background-color:rgba(218, 165, 32, 0.589);
}
.contact-form button input{
    transition-duration: 1s;
    transform: translate(-2);
}